*{
    box-sizing: border-box;
}
header{
background-image: url("../pizza-images/home-img.jpeg");
background-repeat: no-repeat;
background-size: cover;
opacity: .9999;
}
.neodo{
    font-family: 'Merienda One', cursive;
    color: rgb(226, 218, 218);
}
header a{
    font-family: 'Norican', cursive;
    font-size: 0.9em
}
/* .welcome{
    font-family: 'Sriracha', cursive;

    color: rgb(226, 218, 218);
} */
header .navbar-brand{padding-left: 20px;
    font-family: 'Eagle Lake', cursive;
}
header .nav-link:hover{
    color:lightcoral;
}
header .row .col-md-7{
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: 'Sriracha', cursive;
    color: rgb(226, 218, 218);
}
header .row .col-md-7 h1{
    font-size: 7vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}
header .row .col-md-7 p{
  padding: 2px 4px;  
}
 header .row .col-md-7 button{
     border-radius:50px;
     font-weight: bolder;
 }
 .purchase>h1{ 
     color: rgba(117, 52, 9, 0.7);
     padding-top: 15px;
     padding-bottom: 20px;
     font-family: 'Eagle Lake', cursive; 
 }
 .purchase>p{
color: blue;
font-size: 20px;
padding-bottom: 20px;
font-family: 'Norican', cursive;
 }
.purchase .cards .card{
    widows: 300px;
    margin: 10px;
}
.card div{
    padding: 0;
    margin: 0;

}
.card .title{
    background:rgba(122, 92, 27, 0.77);
    padding: 1.4rem 1rem;
    font-size: 2vmin; 
}
.card.card-text{
    padding: 2px 4px;
    color: darkslategrey;
}
.card-body .pricing{ 
   background: rgba(208, 200, 241, 0.2);
}
.card-body>h3{
    font-size: 20px;
    padding: 5px 4px;
}
.card-body>img{
    border-radius: 80px;
}
/* Footer */
#contact-1{
    font-family: 'Eagle Lake', cursive; 
}
 footer{
    background-color:rgba(34, 13, 13, 0.5);
   
    /* padding: 10px 50px; */
}
footer p>span{
color: darkslateblue;
}
footer input{
    border:none !important;
}
footer input::placeholder{
    color: antiquewhite !important;
}
footer.input-group .input-group-text{
    background-color: black;
}
footer .column i{
    color: darkcyan;
    padding: 3px;
}
footer.column i+i{
    padding: 0 2px;
}
/* About us styling part */

  
    

.about-us{
    text-align: center;
    background-image: url("../pizza-images/bg.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    
}
.about-us .card{
    width: 30%;
    position: relative;
    left:30%;
}
.about-us span{
    color: rgb(4, 4, 112);
}
.about-us p{
    color: blanchedalmond;
    font-family: 'Eagle Lake', cursive; 
}
.about-us h1{
    font-family: 'Eagle Lake', cursive; 
    padding: 5px 4px;
    text-decoration: underline;
}
.about-us ul>li{
    font-family: 'Eagle Lake', cursive; 
}
.about-us h2{
    font-family: 'Eagle Lake', cursive; 
}
.about-us .lead{
   padding-top: 5px;
}
/* ***********************Order*********************** */
input[type=text], input[type=number],option[value=egg]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
  }
  #Pizza-crusts #pizza-size{
      width: 60%;
      padding: 5px 5px;
      box-sizing: border-box;
    
  }
  .legend{
    font-family: 'Eagle Lake', cursive; 
    font-size: 30px; 
  }
  
  .section-1{
  
        border: 4px solid rgb(65, 4, 24);
        padding: 20px 40px;
        background: rgba(235, 63, 134, 0.8);
        width: 40%;
        border-radius: 5%;
        box-shadow: 10px 10px 4px#C443;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    
  }
  main{
      background-image: url("../pizza-images/backg-order.jpg");
      background-repeat: no-repeat;
      background-size: cover;
  }
  main h1{
    font-family: 'Merienda One', cursive;
    color: aquamarine;
    text-align: center;  
  }
  /* Output of ordered pizza */
  .orders{
    cursor: pointer;
    color: #0088cc;  
  }
  /* .pizza-output{
      display: none;
  } */
  .pizza-output{
      text-align: center
  }
  #ordersP{
      display: none;
      
  }
   #ordersP .card{
      width: 40%;
      background-color: rgb(36, 1, 1);
      background: (0,0,0,0.5);
      justify-content:center;
      position: relative;
      left: 30%;
  }
  .orders{
      cursor: pointer;
      color: antiquewhite;
  }
  .orders:hover{
      text-decoration: underline;
  }
  /* ****************************Delivery******************************* */
  .orders-output{
      background-color:rgb(1, 15, 5);
      opacity: .7;
      display: none;
      position: relative;
      left: 50%;
  }
  #sum-order{
      color: chocolate;
  }
  #ordersP #order-1{
      color: burlywood;
      font-family: 'Eagle Lake', cursive;  
      font-size: 20px;
  }
.pizzaOrder{
    font-size: 50px;
    font-family: 'Eagle Lake', cursive;    
}
